extends ../layout/layout.pug
block main 
    .developer 
        ul.sliding-hero
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Skincare
                                    span Holiday Gift Guide
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span Shop now           
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Fragrance
                                    span Give wonder, give chanel
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span Shop now
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Watches and Fine Jewelry 
                                    span Once Upon a Moon
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span See more
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Fashion
                                    span Métiers D'art 2022/23
                                    br 
                                    | SHOW
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span See more
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Eyewear
                                    span 2022 campaign
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span See more
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Makeup
                                    span demander la lune
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span Shop now
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Watches 
                                    span Première édition originale
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span See more
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma High Jewelry 
                                    span collection 1932
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span See more
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Haute couture
                                    span Fall-winter 2022/23
                                    br
                                    |   SHOW
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span See more
            li.sliding-hero__item
                .developer-image-frangrance
                    img.js-sliding-picture(src="./images/pexels-errin-casano-2356059.jpg", alt="")
                    .sliding-hero__text.has-text-centered
                        .sliding-hero__col 
                            .context.has-text-centered.has-shadow.unstyled 
                                h2.heading.is-2 
                                    sma Chanel supports
                                    span Black ambition
                                span.button.is-primary.is-white 
                                    span.button__wrapper 
                                        span See more  