mixin list
   li    
      a
         p Houte Coulture
   li    
      a
         p Fashion
   li    
      a
         p High Jewelry
   li    
      a
         p Fine Jewelry
   li    
      a
         p Watches
   li    
      a
         p Eyewear
   li    
      a
         p Fragrance
   li    
      a
         p Makeup
   li    
      a
         p Skincare
   li    
      a
         p Sitemap
+list
