*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(17, 1, 1);
}
a {
  color: #01020e;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #01020e;
  text-decoration: none;
  outline: none;
}

ul{
  list-style: none;
}
ul#name{
  font-size: 40px;
  padding-left: 470px;
}
header{
  position: fixed;
  left: 0;
  right: 0;
  background: #f5f5f5;
  transition: all 0.5 ease-in-out;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}
header.sticky{
  height: 80px;
  margin-top: -10px;
}
header.sticky .header{
  opacity: 0;
}

.top-header .top-header-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header .top-header-links li{ 
  display: inline-block;
  padding: 10px 10px 0px 10px;
  
}
header.sticky{
  height: 80px;
}
.header-links li {
  display: inline-block; 
  
}
ul.header-links li a{
  font-size: 15px;
  padding-right: 10px;
}

.developer-image img{
  width: 100%;
  height: 700px;
  background-size: cover;
}
.developer-image-first img{
  width: 100%;
  padding-top: 132px;
  height: 700px;
  background-size: cover;
}
footer{
  height: 700px;
  background-color: #01020e;
  color: #f5f5f5;
}
.footer{
  margin-top: 30px 20px;
}
.footer h3.footer-title {
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}
.footer-links li p {
  text-transform: none;
  color: #b9b6b6;
}
.footer-links li p:hover, p:focus{
  color: #b9b6b6;
  text-decoration: underline;
}

.footer-links li {
  margin-bottom: 10px;
}

.top-footer{
  text-align: center;
  font-size: 40px;
  padding: 35px 0px;
}
.col-24 {
  flex-basis: auto;
  padding: 1.125rem 2.5333333333vw;
  width: 100%;
}
*, :after, :before {
  box-sizing: border-box;
}
.col-24 {
  padding-left: 0.9722222222vw;
  padding-right: 0.9722222222vw;
}
.hcm-button {
  cursor: pointer;
  text-align: left;
  width: 100%;
}

element.style {
}
.hcm-button {
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 20px 0px;
}
button {
    -webkit-appearance: none;
    appearance: none;
    background-color: initial;
    border: 1px solid #0000;
    color: currentColor;
    font-size: .875rem;
    padding: 0;
}
element.style {
}
body:not(.enable-high-contrast-mode) .hcmToggle {
    background: #767676;
}
.hcmToggle {
    border-radius: 2.5rem;
    display: inline-flex;
    height: 1.80rem;
    margin-left: 0.5625rem;
    position: relative;
    vertical-align: middle;
    width: 3.50rem;
}
body:not(.enable-high-contrast-mode) .hcmToggle:before {
  left: 0.53125rem;
}
.hcmToggle:before {
  background: #f9f9f9;
  height: 0.4375rem;
  top: 0.34375rem;
  width: 0.0625rem;
  z-index: 1;
}
.hcmToggle:after, .hcmToggle:before {
  border-radius: 2.5rem;
  content: "";
  position: absolute;
  transition: left .3s ease-in-out;
}
*, :after, :before {
  box-sizing: border-box;
}
*, :after, :before {
  box-sizing: inherit;
}
body:not(.enable-high-contrast-mode) .hcmToggle:after {
  background: #fff;
  left: 0.0625rem;
}

.hcmToggle:after, .hcmToggle:before {
  border-radius: 2.5rem;
  content: "";
  position: absolute;
  transition: left .3s ease-in-out;
}
.hcmToggle:after {
  box-shadow: 0 1px 4px #00000026, 0 1px 1px #0000000f;
  height: 1.80rem;
  top: 0.0625rem;
  width: 1.80rem;
}
*, :after, :before {
  box-sizing: border-box;
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  header{
    text-align: center;
    left: 0;
    right: 0;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  ul#name{
    font-size: 40px;
    padding-left: 270px;
  }
  
  .top-header .top-header-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-links li {
    display: inline-block; 
    
  }
  .developer-image img{
    width: 100%;
    height: 500px;
    background-size: cover;
  }
  .developer-image-first img{
    width: 100%;
    height: 650px;
    padding-top: 130px;
    background-size: cover;
  }
}
/*# sourceMappingURL=_css.css.map */
