footer#footer
   .section 
      .container 
         .row
            .top-footer 
               b CHANEL          
            .col-md-3.col-xs-6
               .footer  
                  h3.footer-title EXPLORE CHANEL.COM
                  p.Chanel 
                     ul.footer-links 
                        include ./mixin-footer-explore
            .col-md-3.col-xs-6
               .footer  
                  h3.footer-title ONLINE SERVICES
                  p.Chanel 
                     ul.footer-links
                        include ./mixin-footer-service
            .col-md-3.col-xs-6
               .footer  
                  h3.footer-title BOUTIQUE SERVICES
                  p.Chanel 
                     ul.footer-links
                        include ./mixin-footer-boutique
            .col-md-3.col-xs-6
               .footer  
                  h3.footer-title THE HOUSE OF CHANEL 
                  p.Chanel 
                     ul.footer-links
                        include ./mixin-footer-house
            .col-24(role='listitem')
               button.enable-high-contrast.hcm-button(data-event-category='footer')
                  span.hcmButtonLabel Enable high contrast
                  span.hcmToggle(aria-hidden='true')
                     :before
                     :after
                     
