mixin list
   li    
      a
         p Careers
   li    
      a
         p Legal
   li    
      a
         p Privacy
   li    
      a
         p Do Not Sell or Share My Personal Information
   li    
      a
         p Report to Society
   li    
      a
         p Fighting Counterfeits
   li    
      a
         p Accessibility
   li    
      a
         p California Transparency in Supply Chains
   li    
      a
         p CHANEL Racial Justice Efforts
   li    
      a
         p CHANEL COVID-19 Relief Efforts
   li    
      a
         p CHANEL Supports Black Ambition
   li    
      a
         p Transparency in Coverage
+list