mixin list
   li    
      a
         p Payment Methods
   li    
      a
         p Shipping Options
   li    
      a
         p My Account
   li    
      a
         p Returns
   li    
      a
         p FAQ
   li    
      a
         p Care & Services
+list
