header 
   .top-header 
      .container
         .top-header-links
            ul#name 
               li
                  a 
                     b CHANEL
            ul#menu
                  li.icon1
                     a
                        i.fa-solid.fa-magnifying-glass
                  li.icon2
                     a
                        i.fa.fa-user-o
                  li.icon3
                     a
                        i.fa-regular.fa-star
                  li.icon4
                     a
                        i.fa-solid.fa-cart-shopping
   .header
      .container  
         ul.header-links
            li  
               a HAUTE COUTURE
            li  
               a FASHION
            li  
               a HIGH JEWELRY
            li  
               a FINE JEWELRY
            li  
               a WATCHES
            li  
               a EYEWEAR
            li  
               a FRANGRANCE
            li  
               a MAKEUP
            li  
               a SKINCARE
            li  
               a ABOUT CHANEL